<header>
  <img src="../../../assets/img/fiducial.png" alt="fiducial" title="Fiducial Informatica" />

  <ul class="flags">
    <li (click)="Language('pt')"><img src="../../../assets/img/portugal.png"></li>
    <li (click)="Language('fr')"><img src="../../../assets/img/franca.png"></li>
    <li (click)="Language('en')"><img src="../../../assets/img/reino-unido.png"></li>
  </ul>
  <h1>{{result.titre}}</h1>
</header>

<section class="bodyCNPJ">

  <p>{{result.soustitre}}:</p>
  <div class="formBox">
    <input
        type="text"
        placeholder="000.000.000-00"
        id="cnpj"
        name="cnpj"
        #cnpj
        />
    <button class="consultar" (click)="Consultar()">Consultar</button>
  </div>


  <div class="result">
    <!-- <img *ngIf="show" src={{this.avatar}} alt={{this.nome}} title={{this.nome}} class="img-perfil"> -->
    <p>{{result.nomDomaine}}: <span>{{this.nome}}</span></p>
    <p>{{result.champDescriptif}}:  <span>{{this.descricao}}</span></p>
    <p>{{result.champDate}}:  <span>{{this.dataAbertura}}</span></p>
    <p>{{result.champDetat}}: <span>{{this.uf}}</span></p>
    <p>{{result.champQuartier}}: <span>{{this.bairro}}</span></p>
    <p>{{result.champPostal}}: <span>{{this.cep}}</span></p>
    <p>{{result.champTelephone}}: <span>{{this.telefone}}</span></p>
  </div>
</section>
